---
import MainLayout from "../../layouts/MainLayout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Newsletter from "../../components/Newsletter.astro";

export async function getStaticPaths() {
  const data = await fetch(
    "https://raw.githubusercontent.com/daviatkea/frontend-design/main/resources/json/employees.json",
    {
      method: "GET",
    }
  ).then((response) => response.json());

  return data.map((employee) => {
    return {
      params: { slug: employee.slug },
      props: { employee },
    };
  });
}

const { slug } = Astro.params;
const { employee } = Astro.props;

interface Props {
  employee: any;
}

import FacebookIcon from "../../assets/icons/FacebookIcon.astro";
import InstagramIcon from "../../assets/icons/InstagramIcon.astro";
import TwitterIcon from "../../assets/icons/TwitterIcon.astro";
import LinkdinIcon from "../../assets/icons/LinkdinIcon.astro";
---

<MainLayout>
  <Header />

  <main>
    <section class="content">
      <div class="team-single-section">
        <div class="team-image">
          <img src={employee.img} alt=`Image of ${employee.name}` />
        </div>

        <div class="personal-details">
          <div class="name-section">
            <div class="name">
              <h3>{employee.name}</h3>
              <h5>{employee.title}</h5>
            </div>

            <hr class="vertical-line" />
            <div class="some">
              <FacebookIcon />
              <InstagramIcon />
              <TwitterIcon />
              <LinkdinIcon />
            </div>
          </div>

          <p>
            {employee.description}
            {employee.description}
            {employee.description}
          </p>

          <hr />

          <h3>Past experience</h3>
          <p>
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit sed do.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          </p>
        </div>
      </div>
    </section>

    <Newsletter />
  </main>

  <Footer />
</MainLayout>

<style>
  .content {
    container-type: inline-size;
  }

  .team-single-section {
    margin-top: var(--spacing-2xl);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);

    & .team-image {
      position: relative;
      width: 100%;
      min-height: 300px;
      border-radius: var(--rounding-s);
    }

    & img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 55% 20%;
      border-radius: var(--rounding-s);
    }
  }

  .personal-details {
    & p:not(:last-child) {
      margin-bottom: var(--spacing-l);
    }

    > h3 {
      margin-top: var(--spacing-l);
      margin-bottom: var(--spacing-s);
    }

    & h5 {
      font-weight: 400;
      color: var(--primary-text-p-color);
    }
  }

  .name-section {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-xl);
    margin-bottom: var(--spacing-l);
  }

  .some {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-m);
    flex-wrap: wrap;
  }

  hr {
    height: 1px;
    width: 100%;
    background-color: var(--primary-text-p-color);
    opacity: 50%;
  }

  .vertical-line {
    width: 35px;
    transform: translateY(16px) rotate(90deg);
  }

  @container (min-width: 700px) {
    .team-single-section {
      margin-top: calc(var(--spacing-2xl) * 2.75);
      margin-bottom: var(--spacing-xl);
      flex-direction: row;
      gap: var(--spacing-3xl);

      & .team-image {
        flex: 1;
      }

      & .personal-details {
        flex: 1.5;
      }
    }
  }
</style>
